@media only screen and (max-width: 1159px) {
}
@media only screen and (max-width: 769px) {
  html {
    font-size: 48%;
  }
  body {
    overflow-x: hidden;
  }
  .c-section .c-row > .inner {
    flex-direction: column-reverse;
  }
  .c-section .c-row .c-column {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .bio-section > .inner::after {
    font-size: 8.4rem;
    top: 92rem;
    left: 11rem;
  }
  .hero-section > .inner::after {
    font-size: 7.4rem;
    top: 81rem;
    right: 10rem;
  }
}
@media only screen and (max-width: 550px) {
  html {
    font-size: 43%;
  }
  .bio-section > .inner::after {
    display: none;
  }
  .hero-section > .inner::after {
    display: none;
  }
}
