@media only screen and (max-width: 769px) {
  html {
    font-size: 48%;
  }
  body {
    overflow-x: hidden;
  }
  .c-section .c-row > .inner {
    flex-direction: column-reverse;
  }
  .c-section .c-row .c-column {
    flex: 0 0 100%;
    max-width: 100%;
  }
  /* ==HERO SECTION== */
  .hero-section > .inner::after {
    font-size: 7.4rem;
    top: 81rem;
    right: 10rem;
  }
  /* ==BIO SECTION== */
  .bio-section .c-row > .inner {
    flex-direction: column;
  }
  .bio-section > .inner::after {
    font-size: 8.4rem;
    top: 92rem;
    left: 11rem;
  }
  /* ==WORK SECTION== */
  .work-section .section-headline {
    font-size: 3.2rem;
    line-height: 42px;
  }
  /* ==CLIENTS SECTION== */

  .clients-section .section-headline {
    font-size: 3.6rem;
    line-height: 42px;
  }
  .clients-section .hero-btn {
    display: inline-table;
  }
}
@media only screen and (max-width: 550px) {
  html {
    font-size: 43%;
  }
  .bio-section > .inner::after {
    display: none;
  }
  .hero-section > .inner::after {
    display: none;
  }
}
